body {
    margin: 0;
    background-color: gray !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upload-container {
    padding: 10px;
}
.preview-container {
    width: 100%;
    display: flex;
    padding: 10px;
}
.preview-item {
    border: 1px solid black;
    background-color: white;
}
.preview-item + .preview-item {
    margin-left: 10px;
}
